:root {
  --branding-color: #e22a87;
  --secondary-color: #72bf44;
  --heading-font-family: "Poppins", sans-serif;
}

body {
  background: #f8f8f8;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 100px;
  text-align: center;
}

h2 {
  font-size: 18px;
}
.travel-description h2 {
  padding-top: 30px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.hero {
  text-align: center;
  padding: 80px 30px 30px 30px;
  margin: 0 auto;
}

.abouthero {
  padding: 80px 20px 20px 20px;
  margin: auto;
  display: block;
}

.abouthero p {
  line-height: 30px;
}

.aboutparagraph {
  padding: 20px 80px 40px 40px;
}

h3 {
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #f4793b;
}

.hero h2 {
  color: #808080;
  font-weight: 400;
  font-size: 24px;
}
.logo-hero {
  display: block;
  margin: 20px auto;
  width: 800px;
}
.btn-branding {
  background: #ffcb05;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 24px;
  margin: 0;
}

.btn-branding:hover {
  background-color: #f4793b;
  color: white;
}

.homepage-img {
  margin: 10px auto;
  width: 330px;
}

.bottom-section {
  background-color: #e9ffde;
  padding: 20px;
  margin: 0;
}

.description {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 5px;
  color: white;
  margin: 0 auto;
}
.travel-description {
  padding: 0px 10px 0px 10px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 20px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}

.card {
  border: none !important;
}

.about-img {
  margin: 10px auto;
  width: 600px;
}

.about-section-content {
  padding: 20px;
}

@media (max-width: 900px) {
  .travel-description {
    text-align: center;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 30px;
  }
  .bottom-section {
    background-color: white;
    padding: 0;
  }
  h1 {
    font-size: 62px;
  }

  .abouthero h1 {
    font-size: 60px;
  }
  .aboutparagraph {
    padding: 10px 20px 20px 20px;
  }
}
